%div{:class => "grid_3 #{alpha(choice_counter)}"}
  %div{:class => "poli-container"}
    %div{:class => "eyebrow-container"}
      %span{:class => "global-sprites eyebrow #{((choice_counter == 0) ? '' : 'gray')}"}
        = rank(choice_counter)
    %div{:class => "profile-image"}
      %img{:src => choice.image_url }
    %ul
      %li{:class => "candidate-name"}
        = choice.name
      %li{:class => "percentage"}
        = "#{pretty_percent(choice.percent)}"
      %li{:class => "global-sprites line"}
      %li{:class => "supporters"}
        = "#{choice.number} supporters"
    %ul{:class => "twitter-profiles"}
      =render :partial => "voters/small_icon", :collection => choice.voters

    %div{:class => "vote-button-container"}
      %a{:href => "#"}
        %span{:class => "global-sprites vote-button", :data => { :tag => "#{choice.handle}" }}
          = "vote for #{ choice.handle }"